<h1>ユーザの詳細</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧', admin_users_path, class: 'nav-link' %>
</div>

<table class="table table-hover">
  <tbody>
    <tr>
      <td><%= User.human_attribute_name(:id) %></td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:name) %></td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:email) %></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:admin) %></td>
      <td><%= @user.admin? 'あり' : 'なし' %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:created_at) %></td>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:updated_at) %></td>
      <td><%= @user.updated_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_admin_user_path, class: 'btn btn-primary mr-3' %>
<%= link_to '削除', [:admin, user], method: :delete, data: { confirm: "#{user.name}をさくじょします？" }, class: 'btn btn-danger' %>
